@charset "UTF-8";

@import "_mixin";

#container.business {
	section {
		border-top:2px solid #222;

		.wrapContent {
			width:1300px;margin:0 auto;
			padding:65px 0;

			header {
				text-align:center;
				color:#00b9ce;font-size:15px;
				h2 {margin:0;padding:0;color:#222;font-size:50px;line-height:1;font-weight:normal;}

				nav {
					padding:35px 0 75px;
					a {
						display:inline-block;width:188px;
						padding:11px 0 9px;margin:0 1px;
						color:#888;font-size:11px;line-height:1.3;
						border:1px solid #888;
						strong {display:block;font-size:15px;font-weight:normal;}

						&.on {
							color:#FFF;
							border-color:#c70071;
							background-color:#c70071;
						}
					}
				}
			}

			.content {
				padding:0 0 40px;
				color:#888;font-size:12px;line-height:1.7;

				h3 {margin:0;padding:0;color:#222;font-size:16px;}
				.h3_desc {padding:8px 0 40px;}
				ul {padding:6px 0 40px;}
				dl {
					padding:0 0 40px;
					dt {
						color:#222;font-weight:bold;padding:15px 0 6px;
						&:first-child {padding-top:7px;}
					}
				}
				.thumbnail {
					padding:15px 0 40px;
					li {display:inline-block;padding-right:8px;}
				}
			}
		}

		&:first-child {
			border-top:none;
			.wrapContent {padding-top:40px;}
		}
	}
	#web .content {background:url('../img/business/web_bg.jpg') no-repeat right top;}
	#application .content {background:url('../img/business/application_bg.jpg') no-repeat right top;}
	#ticketing .content {background:url('../img/business/ticketing_bg.jpg') no-repeat right top;}
	#reservation .content {background:url('../img/business/reservation_bg.jpg') no-repeat right top;}
	#survey .content {min-height:270px;background:url('../img/business/survey_bg.jpg') no-repeat right top;}
}
