@charset "UTF-8";

@import "_mixin";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {margin:0;padding:0;color:#222;font:13px/1.5 'NanumBarunGothic', 'Nanum Gothic', '돋움';}
input, textarea, select {margin:0;padding:0;color:#222;font:13px/1.5 'NanumBarunGothic', 'Nanum Gothic', '돋움';outline:none;}
dl, dt, dd, ul, li {margin:0;padding:0;list-style:none;}
p {margin:0;padding:0;}
a {color:#222;text-decoration:none;}
img {border:none;vertical-align:middle;}

input[type='text'], input[type='password'] {
	.appearance(none); .box-sizing(border-box);
	height:35px;padding:0 6px;margin:0;
	border:1px solid #CCC;
	.placeholder(#aaa);
}

textarea {
	.appearance(none);.box-sizing(border-box);
	padding:6px;margin:0;
	border:1px solid #CCC;
	.placeholder(#aaa);
}

select {
	height:35px;
	padding:0 0 0 6px;margin:0;
	border:1px solid #CCC;
	.placeholder(#aaa);
}