@charset "UTF-8";

@import "_mixin";

#container {
	.wrapVisual {
		min-width:1300px;
		.visual {
			position:relative;width:1300px;height:335px;margin:0 auto;
			text-align:center;
			overflow:hidden;
			h2 {
				position:relative;top:146px;
				margin:0;
				font-size:35px;color:#FFF;font-weight:normal;
				&:after {
					content:'';display:block;
					position:absolute;left:50%;top:140%;
					width:1px;height:150px;
					background-color:#FFF;
				}
			}
		}
	}

	/* 회사소개 */
	&.intro {
		.wrapVisual {background:url('../img/company/intro/visual.jpg') no-repeat center top;}

		.block1 {
			background-color:#EEE;
			.content {
				width:1300px;margin:0 auto;padding:55px 0;
				font-size:14px;line-height:1.8;text-align:center;
				em {display:inline-block;color:#FFF;font-style:normal;background-color:#00cfff;}
				p {margin:20px 0;color:#c70071;font-size:25px;}
			}
		}

		.block2 {
			width:1300px;margin:0 auto;padding:40px 0 95px;
			text-align:center;
			header {margin:0 auto;padding:40px 0 22px;font-size:40px;}
			p {margin:0;color:#666;font-size:13px;line-height:1.8;}
		}
	}

	/* 연혁 */
	&.history {
		.wrapVisual {background:url('../img/company/history/visual.jpg') no-repeat center top;}

		dl {
			position:relative;
			width:1300px;margin:0 auto;padding:113px 0;

			&:after {
				content:'';display:block;
				position:absolute;top:0;left:50%;
				width:1px;height:113px;
				background-color:#CCC;
			}

			dt {padding:30px 0;text-align:center;}
			dd {
				position:relative;
				width:50%;padding:0 0 50px;
				font-size:20px;color:#666;

				&:after {
					content:'';width:1px;
					position:absolute;top:0;bottom:0;
					background-color:#CCC;
				}

				span {
					position:relative;
					&:before {
						content:'';width:85px;height:22px;
						z-index:1;position:absolute;top:0;
						background:url('../img/company/history/month.gif') no-repeat;
					}
				}

				&.left {
					text-align:right;
					&:after {right:-1px;}
					span {
						padding-right:84px;
						&:before {background-position:left 0;right:-5px;}
						&.month2 {
							padding-right:92px;
							&:before {background-position:0 -50px;}
						}
						&.month3 {
							padding-right:92px;
							&:before {background-position:0 -100px;}
						}
						&.month4 {
							padding-right:92px;
							&:before {background-position:0 -150px;}
						}
						&.month5 {
							padding-right:92px;
							&:before {background-position:0 -200px;}
						}
						&.month6 {
							padding-right:92px;
							&:before {background-position:0 -250px;}
						}
						&.month7 {
							padding-right:92px;
							&:before {background-position:0 -300px;}
						}
						&.month8 {
							padding-right:92px;
							&:before {background-position:0 -350px;}
						}
						&.month9 {
							padding-right:92px;
							&:before {background-position:0 -400px;}
						}
						&.month10 {
							padding-right:84px;
							&:before {background-position:0 -450px;}
						}
						&.month11 {
							padding-right:80px;
							&:before {background-position:0 -500px;}
						}
						&.month12 {
							padding-right:84px;
							&:before {background-position:0 -550px;}
						}
					}
				}

				&.right {
					position:relative;left:50%;text-align:left;
					&:after {left:0;}
					span {
						padding-left:84px;
						&:before {background-position:right 0;left:-5px;}

						&.month2 {
							padding-left:92px;
							&:before {background-position:right -50px;}
						}
						&.month3 {
							padding-left:92px;
							&:before {background-position:right -100px;}
						}
						&.month4 {
							padding-left:92px;
							&:before {background-position:right -150px;}
						}
						&.month5 {
							padding-left:92px;
							&:before {background-position:right -200px;}
						}
						&.month6 {
							padding-left:92px;
							&:before {background-position:right -250px;}
						}
						&.month7 {
							padding-left:92px;
							&:before {background-position:right -300px;}
						}
						&.month8 {
							padding-left:92px;
							&:before {background-position:right -350px;}
						}
						&.month9 {
							padding-left:92px;
							&:before {background-position:right -400px;}
						}
						&.month10 {
							padding-left:84px;
							&:before {background-position:right -450px;}
						}
						&.month11 {
							padding-left:80px;
							&:before {background-position:right -500px;}
						}
						&.month12 {
							padding-left:84px;
							&:before {background-position:right -550px;}
						}
					}
				}
			}
			dt + dd {padding-top:50px;}
		}
	}

	/* 조직도 */
	&.organization {
		.wrapVisual {background:url('../img/company/organization/visual.jpg') no-repeat center top;}

		.block1 {
			background-color:#EEE;
			.content {
				width:1300px;margin:0 auto;padding:55px 0;
				font-size:14px;line-height:1.8;text-align:center;
				em {display:inline-block;color:#FFF;font-style:normal;background-color:#00cfff;}
				p {margin:20px 0;color:#c70071;font-size:25px;}
			}
		}

		.block2 {
			width:1300px;margin:0 auto;padding:40px 0 95px;
			text-align:center;
			header {margin:0 auto;padding:40px 0 22px;font-size:40px;}
			p {margin:0;color:#666;font-size:13px;line-height:1.8;}
		}
	}
}
