@charset "UTF-8";

@import "_mixin";

#container {
	/* 프로젝트 문의 */
	&.inquiry {
		width:1300px;margin:0 auto;

		h3 {
			margin:0 0 15px;padding:0 0 0 15px;
			font-size:18px;color:#00b9ce;line-height:1;font-weight:normal;
			background:url('../img/contacts/bul_h3.gif') no-repeat left center;
		}

		table {
			width:100%;padding:0;margin:0;
			th {
				width:85px;padding-left:10px;
				font-size:13px;font-weight:normal;text-align:left;
				div {
					width:85px;overflow:hidden;
					span {display:inline-block;width:200px;}
					&.length2 span {letter-spacing:57px;}
					&.length3 span {letter-spacing:22px;}
					&.length4 span {letter-spacing:10px;}
					&.length6 span {letter-spacing:2px;}
				}
			}
			td {
				font-size:13px;font-weight:normal;
				input[type='text'] {width:345px;margin-right:10px;}
				textarea {width:100%;height:240px;}
			}
			td.captcha {
				img {width:163px;height:33px;border:1px solid #CCC;}
				input[type='text'] {width:155px;}
				button {
					.appearance(none);.text-hide();
					width:35px;height:35px;margin:0 7px 0 1px;
					border:none;vertical-align:middle;
					background:url('../img/contacts/btn_refresh.gif') no-repeat center;
				}
			}
		}

		.block1,
		.block2 {padding:8px 10px 25px;}
		.block3 {
			padding:5px 10px 35px;
			h4 {margin:0;padding:0 0 5px;
				font-size:15px;
			}
			.scrollbox {
				height:120px;overflow-y:scroll;
				padding:7px 10px;
				font-size:12px;line-height:1.8;
				border:1px solid #CCC;
			}
			.wrapAgree {
				padding:10px 0 0;
				text-align:right;
				input[type='checkbox'] {display:none;}
				input[type='checkbox'] + label:before {
					content:'';display:inline-block;
					width:15px;height:15px;
					margin:-2px 7px 0 0;
					vertical-align:middle;
					background:url('../img/contacts/checkbox.gif') no-repeat;
				}
				input[type='checkbox']:checked + label:before {
					background-position:left -15px;
				}
				label {
					position:relative;
					font-weight:bold;
				}
			}
		}

		.wrapButton {
			padding:15px 0 100px;
			text-align:center;

			a {
				display:inline-block;
				padding:9px 40px;margin:0 2px;
				font-size:18px;color:#ffffff;
				border-radius:4px;
				background-color:#BBB;
				&.btn_confirm {
					padding:9px 50px;
					background-color:#c70071;
				}
			}
		}
	}

	/* contact us */
	&.contactus {
		width:1300px;margin:0 auto;padding:0 0 50px;

		h3 {
			margin:0 0 11px;padding:0 0 0 15px;
			font-size:18px;color:#00b9ce;line-height:1;font-weight:normal;
			background:url('../img/contacts/bul_h3.gif') no-repeat left center;
		}

		.address {
			padding:0 10px 35px;
			address {font-style:normal;}
		}

		.contact {
			padding:0 10px;
			h4, dl, dt, dd {display:inline;}
			h4 {padding-right:12px;}
			dt {color:#bbb;padding:0 6px 0 0;}
			dd {
				&:after {content:'· ';padding:0 6px 0 8px;}
				&:last-child:after {display:none;}
			}

			.button {
				padding:9px 0 40px;
				a {
					display:inline-block;
					padding:9px 17px;
					font-size:12px;color:#ffffff;
					border-radius:5px;
					background-color:#c70071;
				}
			}
		}

		.map {width:100%;height:400px;border:1px solid #f0efea;}
	}
}
