@charset "UTF-8";

@import "_mixin";

#container.index {
	position:relative;
	width:1300px;height:800px;
	margin:0 auto;padding:30px 0 60px;

	.wrapRotate {
		position:relative;height:800px;
		section {
			.transition(all .2s ease-in-out);
			opacity:0;
			position:absolute;left:0;top:0;
			width:1300px;height:800px;
			&.on {opacity:1;}

			div {
				position:absolute;right:0;top:455px;
				font-size:15px;font-weight:bold;text-align:right;
				&:before {
					content:'';
					position:absolute;right:0;top:-54px;
					width:55px;height:36px;
					background:url('../img/index/icon.gif') no-repeat;

				}
				header {padding:0 0 4px;color:#c70071;font-size:30px;}
			}

			&.block1 {
				background:url('../img/index/block1_bg.gif') no-repeat center top;
				div:before {background-position:left top;}
			}
			&.block2 {
				background:url('../img/index/block2_bg.gif') no-repeat center top;
				div:before {background-position:left -50px;}
			}
			&.block3 {
				background:url('../img/index/block3_bg.gif') no-repeat center top;
				div:before {background-position:left -100px;}
			}

		}

		.rotateButton {
			position:absolute;left:0;bottom:0;
			width:100%;
			li {
				float:left;width:33%;text-align:center;
				div {
					position:relative;
					display:inline-block;
					margin:0 auto;
					color:#888;font-size:14px;
					strong {font-size:16px;}
					&:before {
						content:'';
						position:absolute;left:50%;top:-40px;margin-left:-12px;
						width:25px;height:25px;
						background:url('../img/index/icon.gif') no-repeat center -150px;
					}
				}
				&.on div {
					strong {color:#222;}
					&:before {background-position:center -200px;}
				}
			}
		}
	}

	.wrapContactus {
		position:absolute;left:0;top:135px;
		&:before {
			content:'';
			position:absolute;left:0;top:-35px;
			width:45px;height:3px;
			background-color:#222;
		}
		h2 {
			margin:0;padding:0;
			font-size:30px;
		}
		.h2_desc {font-size:15px;}
		.button {
			padding:28px 0 55px;
			a {display:inline-block;padding:7px 21px 6px;color:#c70071;border:2px solid #c70071;}
		}
		.desc {
			font-size:12px;line-height:2;
		}
	}
}
