@charset "UTF-8";

@import "_mixin";

/* LAYOUT */
.wrapHeader {
	z-index:999;position:relative;

	.header {
		border-bottom:2px solid #7a0045;
		.content {position:relative;width:1300px;height:90px;margin:0 auto;padding:0;}
	}

	h1 {z-index:998;position:absolute;left:0;top:25px;margin:0;padding:0;}
	nav {
		position:absolute;top:23px;right:0;margin:0;padding:0;font-size:17px;
		a {display:inline-block;padding:12px 20px;}
		a:hover {color:#7a0045;}
	}

	.wrapSubMenu {
		position:relative;width:1300px;height:30px;margin:0 auto;padding:0;
		ul {
			position:absolute;top:5px;
			li {
				display:inline;color:#777;font-size:15px;padding:0 10px;
				a {color:#777;}
				a.on,
				a:hover {color:#7a0045;}
			}
		}

		ul.menu1 {
			opacity:0;left:812px;
			width:300px;
			.transition(all .2s ease-in-out .1s);
		}
		&.onMenu1 ul.menu1 {left:862px;opacity:1;}

		ul.menu4 {
			opacity:0;left:1119px;
			width:200px;
			.transition(all .2s ease-in-out .1s);
		}

		&.onMenu4 ul.menu4 {left:1169px;opacity:1;}
	}
}

#container {
	> header {
		padding:0 8px 38px;
		h2 {
			margin:0;padding:0;
			font-size:35px;color:#c70071;font-weight:normal;line-height:1;
		}
		p {
			margin:0;padding:0;
			font-size:16px;color:#999;
		}
	}
}

footer {
	border-top:1px solid #ddd;
	.content {
		position:relative;width:1000px;margin:0 auto;padding:26px 150px;
		font-size:12px;line-height:1.7;
		.logo {position:absolute;left:0;top:29px;}
		address {
			font-style:normal;color:#666;
			strong {color:#222;}
		}
		.copy {margin:0;padding:15px 0;color:#BBB;font-weight:bold;}
		.partner {
			position:absolute;right:0;top:30px;
			a {
				display:inline-block;padding:16px 74px 0 0;
				color:#0f57a4;
				background:url('../img/layout/footer_partner.gif') no-repeat right top;
			}
		}
	}
}

#modal {
	z-index:999;position:fixed;left:0;top:0;right:0;bottom:0;
	background-color:rgba(0, 0, 0, .5);

	.modalRenewal {
		position:absolute;left:50%;top:50%;
		width:940px;height:560px;
		margin:-280px 0 0 -470px;
	}
}