
.placeholder (@content) {
	&.placeholder { color:@content !important; }
	&:-moz-placeholder { color:@content; }
	&::-moz-placeholder { color:@content; }
	&:-ms-input-placeholder { color:@content; }
	&::-webkit-input-placeholder { color:@content; }
}

.text-hide() {
	font-size:0;text-indent:-999px;overflow:hidden;
}

.appearance(@content : none) {
	-webkit-appearance:@content;
	-moz-appearance:@content;
	appearance:@content;
}


.ellipsis() {
	display:block;width:100%;overflow:hidden;
	text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;
}

.box-orient(@content : horizontal) {
	-webkit-box-orient: @content;
	-moz-box-orient: @content;
	-ms-box-orient: @content;
}

.box-sizing(@content : border-box) {
	-webkit-box-sizing: @content;
	-moz-box-sizing: @content;
	box-sizing: @content;
}

.display-box() {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
}

.box-align(@content) {
	-webkit-box-align: @content;
	-moz-box-align: @content;
	-ms-flex-align: @content;
}

.box-pack(@content) {
	-webkit-box-pack: @content;
	-moz-box-pack: @content;
	-ms-flex-pack: @content;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.transition(@content) {
	-webkit-transition:@content;
	-moz-transition:@content;
	-ms-transition:@content;
	-o-transition:@content;
	transition:@content;
}

.animation(@content) {
	-webkit-animation:@content;
	-moz-animation:@content;
	-ms-animation:@content;
	-o-animation:@content;
	animation:@content;
}

.transform(@content) {
	transform:@content;
	-moz-transform:@content;
	-webkit-transform:@content;
	-o-transform:@content;
	-khtml-transform:@content;
	-ms-transform:@content;
}