@charset "UTF-8";

@import "_mixin";

#container{
	&.portfolio {
		width:1302px;margin:0 auto;padding:50px 0 100px;

		nav {
			padding:0 0 12px;
			li {
				position:relative;
				display:inline-block;
				padding:0 10px;
				&:before {
					position:absolute;left:-1px;top:5px;
					content:'';
					width:1px;height:14px;
					background-color:#CCC;
				}
				&:first-child:before {display:none;}

				a {color:#777;font-size:15px;}
				a.on {color:#c70071;}
			}
		}

		ul {
			li {
				position:relative;padding:1px;
				float:left;
				perspective:1000px;

				/* flip the pane when hovered */
				&:hover .wrap_card,
				&.hover .wrap_card {
					.transform( rotateX(180deg) );
					.front { opacity:0; .animation(cardFrontAni .5s ease-in-out); }
					.back { opacity:1;z-index:3; .animation(cardBackAni .5s ease-in-out); }
				}
				&.origin .wrap_card {
					.transform( rotateX(0) );
					.front { opacity:1;z-index:3; .animation(cardBackAni .5s ease-in-out);}
					.back { opacity:0; .animation(cardFrontAni .5s ease-in-out); }
				}

				.wrap_card {
					position:relative;width:432px;height:200px;
					transition:0.6s;
					transform-style: preserve-3d;

					.front {
						.box-sizing();
						z-index:2;position:absolute;left:0;top:0;
						width:432px;height:200px;padding:33px 0 0 40px;
						background-color:#f4eeee;
						.transform( rotateX(0) );
						header {height:16px;color:#666;font-size:13px;}
						.content {height:61px;font-size:15px;text-shadow:1px 1px 0 rgba(0, 207, 255, .8);}
						.icon {
							font-size:11px;
							span {
								position:relative;top:4px;
								display:inline-block;width:16px;height:16px;margin-right:5px;
								background:url('../img/portfolio/ic_device.gif') no-repeat;
								&.pc {background-position:0 0;}
								&.mobile {width:11px;background-position:0 -20px;}
								&.tablet {width:15px;background-position:0 -40px;}
								&:last-child {margin-right:8px;}
							}
						}
					}

					.back {
						.box-sizing();
						opacity:0;
						position:absolute;left:0;top:0;
						width:432px;height:200px;padding:34px 0 0 40px;
						background:url('../img/portfolio/card_back_bg.gif') no-repeat;
						.transform( rotateX(180deg) );
						header {position:absolute;top:29px;right:30px;}
						dl {
							dt {padding:0 0 4px;font-size:12px;color:#c70071;}
							dd {padding:0 0 16px;font-size:13px;}
						}
					}
				}
			}
			&:after {content:'';display:block;clear:both;}
		}
	}
}

.cardBackAni () {
	0% {opacity:0;z-index:0;}
	50% {opacity:1;z-index:3;}
}
@-webkit-keyframes cardBackAni {.cardBackAni;}
@-moz-keyframes cardBackAni {.cardBackAni;}
@-ms-keyframes cardBackAni {.cardBackAni;}
@-o-keyframes cardBackAni {.cardBackAni;}
@keyframes cardBackAni {.cardBackAni;}

.cardFrontAni () {
	0% {opacity:1;z-index:3;}
	50% {opacity:0;z-index:0;}
}
@-webkit-keyframes cardFrontAni {.cardFrontAni;}
@-moz-keyframes cardFrontAni {.cardFrontAni;}
@-ms-keyframes cardFrontAni {.cardFrontAni;}
@-o-keyframes cardFrontAni {.cardFrontAni;}
@keyframes cardFrontAni {.cardFrontAni;}