@charset "UTF-8";

@import "_mixin";

body {margin:0;padding:0;font-family:NanumBarunGothic;}
input, textarea, select {margin:0;padding:0;font-family:NanumBarunGothic;outline:none;}
dl, dt, dd, ul, li {margin:0;padding:0;list-style:none;}
h1, h2, h3, h4, p {margin:0;padding:0;}
img {border:none;vertical-align:middle;}