@charset "UTF-8";

@import "_mixin";
@import "_common";

#print {
	width:1240px;

	header {
		position:relative;
		height:98px;
		margin:0 59px 6px 0;
		.display-box();.box-align(center);

		&:after {
			content:'';
			position:absolute;
			top:98px;left:0;right:0;
			height:6px;
			background-color:#e7312b;
			border-radius:0 3px 3px 0;
		}

		.logo {
			padding-left:59px;
			img {width:283px;height:79px;}
		}
		span {
			position:absolute;top:62px;
			font-size:17px;color:#9fa0a0;
			&.model {left:350px;}
			&.contact {right:0;}
		}
	}

	footer {
		position:relative;
		.display-box();
		height:52px;margin:6px 59px 0 0;

		&:after {
			content:'';
			position:absolute;
			top:-6px;left:0;right:0;
			height:6px;
			background-color:#e7312b;
			border-radius:0 3px 3px 0;
		}

		.logo {
			.display-box();.box-align(center);
			box-flex:1;
			-webkit-box-flex:1;
			-moz-box-flex:1;
			padding-left:59px;
			img {width:114px;height:33px;}
		}
		span.contact {
			position:absolute;top:16px;right:0;
			font-size:17px;color:#9fa0a0;
		}
	}

	.userInfo {
		padding:16px 59px;
		font-size:20px;line-height:1;
		&:after {content:'';clear:both;display:block;}
		dt {
			position:relative;
			float:left;padding-left:10px;
			font-weight:bold;color:#9fa0a0;
			&:before {
				position:absolute;left:0;top:-1px;bottom:1px;width:2px;
				content:'';
				display:block;
				background-color:#9fa0a0;
			}
		}
		dd {
			float:left;
			min-width:130px;
			padding:0 10px;
			&.date {width:auto;}
		}
	}

	.content {
		padding:27px 59px 30px;
		background:url('../img/bg.gif');

		h2 {font-size:25px;color:#b1483b;}
		h3 {font-size:19px;color:#000;font-weight:normal;}

		.wrapBodyComposition {
			margin:0 0 30px;

			ul.graphBodyComposition {
				position:relative;
				width:1075px;height:176px;
				background:url('../img/bodyComposition_bg.gif') no-repeat;
				background-size:1075px auto;
				li {
					position:absolute;

					&.line1 {left:150px;top:23px + 29px;}
					&.line2 {left:150px;top:23px + 81px;}
					&.line3 {left:150px;top:23px + 133px;}

					p.graph {
						float:left;height:9px;
						background:url('../img/graph_bg.gif');
					}
					span {
						position:relative;left:8px;top:-6px;
						float:left;
						font-size:20px;color:#000;
					}
				}
			}
		}/* //analysisBodyComposition */

		.wrapObesityIndex {
			margin:0 0 30px;
			.graphBMI {
				position:relative;
				width:1075px;height:72px;margin:0 0 20px;
				background:url('../img/obesityIndex_bg.gif') no-repeat;
				background-size:1075px auto;
				li {
					position:absolute;

					&.line1 {left:150px;top:23px + 29px;}

					p.graph {
						float:left;height:9px;
						background:url('../img/graph_bg.gif');
					}
					span {
						position:relative;left:8px;top:-6px;
						float:left;
						font-size:20px;color:#000;
					}
				}
			}
			.resultBMI {
				position:relative;
				width:1075px;height:316px;
				background:url('../img/resultBMI_bg.gif') no-repeat;
				background-size:1075px auto;

				ul {
					li {
						float:left;width:206px;padding:290px 0 9px 0;margin-right:11px;
						text-align:center;font-size:14px;font-weight:bold;color:#b2473b;
						span {
							padding-right:20px;background:url('../img/checkbox.gif') no-repeat right top;background-size:15px auto;
							&.check {background-position:right -20px;}
						}
						&:last-child {margin-right:0;}
					}
				}
			}
		}/* //obesityIndex */

		.wrapEtcComposition {
			width:1075px;margin:0 0 40px;
			.blockLeft {float:left;width:713px;}
			.blockRight {float:left;width:1075px - 713px;}
			dl {
				height:47px;
				background-color:#FFF;
				.display-box();
				dt {display:none;}
				dd {
					.display-box();.box-align(center);
					padding-left:156px;
					font-size:20px;color:#000;
					background:url('../img/etcComposition_bg.gif') no-repeat;background-size:160px auto;
					&.totalBodyWater {width:201px;}
					&.skeletalMass {background-position:0 -47px;}
					&.basalMetalbolicRate {padding-left:171px;background-position:0 -94px;}
				}
			}
			&:after {display:block;content:'';clear:both;}
		}/* .wrapEtcComposition */

		.wrapBodyTransformation {
			&:after {display:block;content:'';clear:both;}
			.blockLeft {
				float:left;width:713px;
				.graphBodyTransformation {
					position:relative;
					width:713px;height:298px;margin:0 0 40px;
					background:url('../img/bodyTransformation_bg.gif') no-repeat;background-size:713px auto;

					ul {
						position:absolute;right:0;top:2px;
						li {
							float:left;width:81px;
							text-align:center;font-size:14px;font-weight:bold;color:#FFF;
						}
					}

					dl {
						dt {display:none;}
						dd {
							position:absolute;
							&.weight {left:149px;top:27px;}
							&.muscle {left:149px;top:119px;}
							&.fat {left:149px;top:211px;}

							.graph {
								width:563px;height:84px;
								border:1px solid #000;
								border-width:0 0 1px 1px;
								//background-color:#FFF;
							}
						}
					}
				}

				.wrapBMITable {
					padding:3px 0 0;
					table {
						width:100%;
						padding:0;margin:0;
						border:2px solid #b3b1b2;border-width:2px 0;
						background-color:#FFF;
						thead {
							th {
								padding:8px;
								font-size:14px;color:#666;font-weight:normal;
								border-right:1px solid #DDD;
								border-bottom:1px solid #DDD;
								background-color:#f9e8e7;
								&:last-child {border-right:none;}
							}
						}
						tbody {
							td {
								padding:6px;
								font-size:14px;color:#231815;font-weight:normal;
								text-align:center;
								border-right:1px solid #DDD;
								&:last-child {border-right:none;}
							}
							tr:first-child td {padding-top:20px;}
							tr:last-child td {padding-bottom:20px;}
						}
					}
					p {padding:9px 0 0;font-size:13px;color:#7d7d7d;}
				}
			}
			.blockRight {
				float:left;
				width:377px;padding-left:32px;
				h4 {
					padding:6px 0 9px;
					font-size:15px;color:#000;
					em {font-style:normal;color:#9fa0a0;}
				}

				.bmiGraph {
					position:relative;
					width:410px;height:395px;margin-left:-17px;
					background:url('../img/bmiGraph_m.jpg') no-repeat;background-size:410px auto;
					.area {
						position:absolute;left:78px;
						width:257px;height:364px;
						.point {
							position:absolute;left:0;top:364px;
							width:10px;height:10px;margin:-5px 0 0 -5px;
							border-radius:100%;
							background-color:#de2c25;
						}
					}
				}

				table.kcal {
					padding:0;margin:3px 0 0;
					* {font-size:14px;color:#666;font-weight:normal;}
					th {
						width:130px;
						padding:2px;
						border-left:1px solid #DDD;
						text-align:left;
						&:first-child {border-left:none;}
						&:nth-of-type(2) {padding-left:45px;}
					}
					td {
						width:90px;
						padding:2px;
						text-align:right;
						&:nth-of-type(1) {padding-right:45px;}
						&:nth-of-type(2) {}
					}
					tr:first-child th, td {padding-top:0;}
					tr:last-child th, td {padding-bottom:0;}
				}
			}
		} /* //.wrapBodyTransformation */
	}
}