@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: NanumBarunGothic;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: NanumBarunGothic;
  outline: none;
}
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  border: none;
  vertical-align: middle;
}
#print {
  width: 1240px;
}
#print header {
  position: relative;
  height: 98px;
  margin: 0 59px 6px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
}
#print header:after {
  content: '';
  position: absolute;
  top: 98px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #e7312b;
  border-radius: 0 3px 3px 0;
}
#print header .logo {
  padding-left: 59px;
}
#print header .logo img {
  width: 283px;
  height: 79px;
}
#print header span {
  position: absolute;
  top: 62px;
  font-size: 17px;
  color: #9fa0a0;
}
#print header span.model {
  left: 350px;
}
#print header span.contact {
  right: 0;
}
#print footer {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  height: 52px;
  margin: 6px 59px 0 0;
}
#print footer:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #e7312b;
  border-radius: 0 3px 3px 0;
}
#print footer .logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  padding-left: 59px;
}
#print footer .logo img {
  width: 114px;
  height: 33px;
}
#print footer span.contact {
  position: absolute;
  top: 16px;
  right: 0;
  font-size: 17px;
  color: #9fa0a0;
}
#print .userInfo {
  padding: 16px 59px;
  font-size: 20px;
  line-height: 1;
}
#print .userInfo:after {
  content: '';
  clear: both;
  display: block;
}
#print .userInfo dt {
  position: relative;
  float: left;
  padding-left: 10px;
  font-weight: bold;
  color: #9fa0a0;
}
#print .userInfo dt:before {
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 1px;
  width: 2px;
  content: '';
  display: block;
  background-color: #9fa0a0;
}
#print .userInfo dd {
  float: left;
  min-width: 130px;
  padding: 0 10px;
}
#print .userInfo dd.date {
  width: auto;
}
#print .content {
  padding: 27px 59px 30px;
  background: url('../img/bg.gif');
  /* //analysisBodyComposition */
  /* //obesityIndex */
  /* .wrapEtcComposition */
  /* //.wrapBodyTransformation */
}
#print .content h2 {
  font-size: 25px;
  color: #b1483b;
}
#print .content h3 {
  font-size: 19px;
  color: #000;
  font-weight: normal;
}
#print .content .wrapBodyComposition {
  margin: 0 0 30px;
}
#print .content .wrapBodyComposition ul.graphBodyComposition {
  position: relative;
  width: 1075px;
  height: 176px;
  background: url('../img/bodyComposition_bg.gif') no-repeat;
  background-size: 1075px auto;
}
#print .content .wrapBodyComposition ul.graphBodyComposition li {
  position: absolute;
}
#print .content .wrapBodyComposition ul.graphBodyComposition li.line1 {
  left: 150px;
  top: 52px;
}
#print .content .wrapBodyComposition ul.graphBodyComposition li.line2 {
  left: 150px;
  top: 104px;
}
#print .content .wrapBodyComposition ul.graphBodyComposition li.line3 {
  left: 150px;
  top: 156px;
}
#print .content .wrapBodyComposition ul.graphBodyComposition li p.graph {
  float: left;
  height: 9px;
  background: url('../img/graph_bg.gif');
}
#print .content .wrapBodyComposition ul.graphBodyComposition li span {
  position: relative;
  left: 8px;
  top: -6px;
  float: left;
  font-size: 20px;
  color: #000;
}
#print .content .wrapObesityIndex {
  margin: 0 0 30px;
}
#print .content .wrapObesityIndex .graphBMI {
  position: relative;
  width: 1075px;
  height: 72px;
  margin: 0 0 20px;
  background: url('../img/obesityIndex_bg.gif') no-repeat;
  background-size: 1075px auto;
}
#print .content .wrapObesityIndex .graphBMI li {
  position: absolute;
}
#print .content .wrapObesityIndex .graphBMI li.line1 {
  left: 150px;
  top: 52px;
}
#print .content .wrapObesityIndex .graphBMI li p.graph {
  float: left;
  height: 9px;
  background: url('../img/graph_bg.gif');
}
#print .content .wrapObesityIndex .graphBMI li span {
  position: relative;
  left: 8px;
  top: -6px;
  float: left;
  font-size: 20px;
  color: #000;
}
#print .content .wrapObesityIndex .resultBMI {
  position: relative;
  width: 1075px;
  height: 316px;
  background: url('../img/resultBMI_bg.gif') no-repeat;
  background-size: 1075px auto;
}
#print .content .wrapObesityIndex .resultBMI ul li {
  float: left;
  width: 206px;
  padding: 290px 0 9px 0;
  margin-right: 11px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #b2473b;
}
#print .content .wrapObesityIndex .resultBMI ul li span {
  padding-right: 20px;
  background: url('../img/checkbox.gif') no-repeat right top;
  background-size: 15px auto;
}
#print .content .wrapObesityIndex .resultBMI ul li span.check {
  background-position: right -20px;
}
#print .content .wrapObesityIndex .resultBMI ul li:last-child {
  margin-right: 0;
}
#print .content .wrapEtcComposition {
  width: 1075px;
  margin: 0 0 40px;
}
#print .content .wrapEtcComposition .blockLeft {
  float: left;
  width: 713px;
}
#print .content .wrapEtcComposition .blockRight {
  float: left;
  width: 362px;
}
#print .content .wrapEtcComposition dl {
  height: 47px;
  background-color: #FFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}
#print .content .wrapEtcComposition dl dt {
  display: none;
}
#print .content .wrapEtcComposition dl dd {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  padding-left: 156px;
  font-size: 20px;
  color: #000;
  background: url('../img/etcComposition_bg.gif') no-repeat;
  background-size: 160px auto;
}
#print .content .wrapEtcComposition dl dd.totalBodyWater {
  width: 201px;
}
#print .content .wrapEtcComposition dl dd.skeletalMass {
  background-position: 0 -47px;
}
#print .content .wrapEtcComposition dl dd.basalMetalbolicRate {
  padding-left: 171px;
  background-position: 0 -94px;
}
#print .content .wrapEtcComposition:after {
  display: block;
  content: '';
  clear: both;
}
#print .content .wrapBodyTransformation:after {
  display: block;
  content: '';
  clear: both;
}
#print .content .wrapBodyTransformation .blockLeft {
  float: left;
  width: 713px;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation {
  position: relative;
  width: 713px;
  height: 298px;
  margin: 0 0 40px;
  background: url('../img/bodyTransformation_bg.gif') no-repeat;
  background-size: 713px auto;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation ul {
  position: absolute;
  right: 0;
  top: 2px;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation ul li {
  float: left;
  width: 81px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation dl dt {
  display: none;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation dl dd {
  position: absolute;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation dl dd.weight {
  left: 149px;
  top: 27px;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation dl dd.muscle {
  left: 149px;
  top: 119px;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation dl dd.fat {
  left: 149px;
  top: 211px;
}
#print .content .wrapBodyTransformation .blockLeft .graphBodyTransformation dl dd .graph {
  width: 563px;
  height: 84px;
  border: 1px solid #000;
  border-width: 0 0 1px 1px;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable {
  padding: 3px 0 0;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 2px solid #b3b1b2;
  border-width: 2px 0;
  background-color: #FFF;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table thead th {
  padding: 8px;
  font-size: 14px;
  color: #666;
  font-weight: normal;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background-color: #f9e8e7;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table thead th:last-child {
  border-right: none;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table tbody td {
  padding: 6px;
  font-size: 14px;
  color: #231815;
  font-weight: normal;
  text-align: center;
  border-right: 1px solid #DDD;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table tbody td:last-child {
  border-right: none;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table tbody tr:first-child td {
  padding-top: 20px;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable table tbody tr:last-child td {
  padding-bottom: 20px;
}
#print .content .wrapBodyTransformation .blockLeft .wrapBMITable p {
  padding: 9px 0 0;
  font-size: 13px;
  color: #7d7d7d;
}
#print .content .wrapBodyTransformation .blockRight {
  float: left;
  width: 377px;
  padding-left: 32px;
}
#print .content .wrapBodyTransformation .blockRight h4 {
  padding: 6px 0 9px;
  font-size: 15px;
  color: #000;
}
#print .content .wrapBodyTransformation .blockRight h4 em {
  font-style: normal;
  color: #9fa0a0;
}
#print .content .wrapBodyTransformation .blockRight .bmiGraph {
  position: relative;
  width: 410px;
  height: 395px;
  margin-left: -17px;
  background: url('../img/bmiGraph_m.jpg') no-repeat;
  background-size: 410px auto;
}
#print .content .wrapBodyTransformation .blockRight .bmiGraph .area {
  position: absolute;
  left: 78px;
  width: 257px;
  height: 364px;
}
#print .content .wrapBodyTransformation .blockRight .bmiGraph .area .point {
  position: absolute;
  left: 0;
  top: 364px;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  border-radius: 100%;
  background-color: #de2c25;
}
#print .content .wrapBodyTransformation .blockRight table.kcal {
  padding: 0;
  margin: 3px 0 0;
}
#print .content .wrapBodyTransformation .blockRight table.kcal * {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}
#print .content .wrapBodyTransformation .blockRight table.kcal th {
  width: 130px;
  padding: 2px;
  border-left: 1px solid #DDD;
  text-align: left;
}
#print .content .wrapBodyTransformation .blockRight table.kcal th:first-child {
  border-left: none;
}
#print .content .wrapBodyTransformation .blockRight table.kcal th:nth-of-type(2) {
  padding-left: 45px;
}
#print .content .wrapBodyTransformation .blockRight table.kcal td {
  width: 90px;
  padding: 2px;
  text-align: right;
}
#print .content .wrapBodyTransformation .blockRight table.kcal td:nth-of-type(1) {
  padding-right: 45px;
}
#print .content .wrapBodyTransformation .blockRight table.kcal tr:first-child th,
#print .content .wrapBodyTransformation .blockRight table.kcal td {
  padding-top: 0;
}
#print .content .wrapBodyTransformation .blockRight table.kcal tr:last-child th,
#print .content .wrapBodyTransformation .blockRight table.kcal td {
  padding-bottom: 0;
}
